{
  "openapi": "3.1.0",
  "info": {
    "title": "Incredible API - Integrations",
    "description": "API for managing third-party integrations and executing their features",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.incredible.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server"
    }
  ],
  "paths": {
    "/v1/integrations": {
      "get": {
        "summary": "List all integrations",
        "description": "Retrieve a list of all available integrations with their details",
        "operationId": "listAllIntegrations",
        "tags": ["Integrations"],
        "responses": {
          "200": {
            "description": "List of all available integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}": {
      "get": {
        "summary": "Get integration details",
        "description": "Retrieve detailed information about a specific integration",
        "operationId": "getIntegrationDetails",
        "tags": ["Integrations"],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationInfo"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/connect": {
      "post": {
        "summary": "Connect to integration",
        "description": "Establish a connection to a specific integration",
        "operationId": "connectToIntegration",
        "tags": ["Integrations"],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ApiKeyConnectionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OAuthConnectionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiKeyConnectionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/OAuthConnectionResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/execute": {
      "post": {
        "summary": "Execute integration feature",
        "description": "Execute a specific feature from an integration",
        "operationId": "executeIntegrationFeature",
        "tags": ["Integrations"],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/auth-callback": {
      "get": {
        "summary": "OAuth callback handler",
        "description": "Handle OAuth callback redirects from Composio",
        "operationId": "authCallback",
        "tags": ["Integrations"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The status of the authentication flow",
            "schema": {
              "type": "string",
              "enum": ["success", "error"]
            }
          },
          {
            "name": "connectedAccountId",
            "in": "query",
            "description": "The ID of the connected account from Composio",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appName",
            "in": "query",
            "description": "The name of the app being authenticated",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication callback processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCallbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IntegrationInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the integration"
          },
          "name": {
            "type": "string",
            "description": "Display name of the integration"
          },
          "description": {
            "type": "string",
            "description": "Description of what the integration does"
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the integration's logo"
          },
          "app_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the integration's main application"
          },
          "functions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationFunction"
            },
            "description": "List of available functions/features"
          },
          "auth_method": {
            "type": "string",
            "enum": ["API_KEY", "OAUTH2", "OAUTH1", "BASIC", "BEARER_TOKEN"],
            "description": "Authentication method required for this integration"
          }
        },
        "required": ["id", "name", "description", "functions", "auth_method"]
      },
      "IntegrationFunction": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the function"
          },
          "description": {
            "type": "string",
            "description": "Description of what the function does"
          },
          "parameters": {
            "type": "object",
            "description": "Parameters required for the function",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["name", "description"]
      },
      "ApiKeyConnectionRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "api_key": {
            "type": "string",
            "description": "API key for the integration"
          }
        },
        "required": ["user_id", "api_key"]
      },
      "OAuthConnectionRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect to after OAuth completion"
          }
        },
        "required": ["user_id"]
      },
      "ApiKeyConnectionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "integration_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": ["success"]
      },
      "OAuthConnectionResponse": {
        "type": "object",
        "properties": {
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect user for OAuth authentication"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for completing OAuth flow"
          }
        },
        "required": ["redirect_url", "instructions"]
      },
      "FeatureExecutionRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "feature_name": {
            "type": "string",
            "description": "Name of the feature to execute"
          },
          "inputs": {
            "type": "object",
            "description": "Input parameters for the feature",
            "additionalProperties": true
          }
        },
        "required": ["user_id", "feature_name"]
      },
      "FeatureExecutionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "description": "Result of the feature execution",
            "additionalProperties": true
          },
          "integration_id": {
            "type": "string"
          },
          "feature_name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": ["success", "integration_id", "feature_name", "user_id"]
      },
      "AuthCallbackResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "connected_account_id": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          }
        },
        "required": ["message", "status", "connected_account_id", "app_name"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for resolving the error"
          }
        },
        "required": ["error"]
      }
    }
  }
}