{
  "openapi": "3.1.0",
  "info": {
    "title": "Integrations API",
    "description": "API for managing and accessing various integrations and their capabilities",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.incredible.one/",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/chat-completion": {
      "post": {
        "summary": "Chat Completion (Non-Streaming)",
        "description": "Return a complete response in one shot",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "small-1",
                "messages": [
                  {"role": "user", "content": "Hello, Incredible!"}
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "example": {
                  "result": {
                    "response": [
                      { "content": "Hello! \ud83d\udc4b", "role": "assistant" }
                    ],
                    "thinking": "Greet the user briefly."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Messages are required",
                  "instructions": "Provide a messages array with at least one user message"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat-completion/stream": {
      "post": {
        "summary": "Chat Completion (Streaming)",
        "description": "Generate AI responses as a live stream (SSE)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequestStreaming"
              },
              "example": {
                "model": "small-1",
                "stream": true,
                "messages": [
                  {"role": "user", "content": "What is the weather in Stockholm?"}
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion streaming response",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent events stream for streaming responses"
                },
                "example": "data: {\"content\": {\"type\": \"text_chunk\", \"content\": \"Hello\"}}\ndata: {\"content\": {\"type\": \"function_call\", \"function_call_id\": \"...\", \"function_calls\": []}}\ndata: {\"content\": \"[DONE]\"}"
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "summary": "List all integrations",
        "description": "Returns a list of available integrations with id, name, description, logo URL, app URL, features, and authentication method",
        "responses": {
          "200": {
            "description": "Successful response with list of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                },
                "example": [
                  {
                    "app_url": "https://perplexity.ai",
                    "auth_method": "API_KEY",
                    "description": "Perplexity AI provides conversational AI models for generating human-like text responses",
                    "features": [],
                    "id": "perplexity",
                    "logo_url": "https://cdn.jsdelivr.net/gh/ComposioHQ/open-logos@master//perplexity.jpeg",
                    "name": "Perplexity"
                  },
                  {
                    "app_url": "https://mail.google.com",
                    "auth_method": "OAUTH2",
                    "description": "Gmail is Google's email service, featuring spam protection, search functions, and seamless integration with other G Suite apps for productivity",
                    "features": [
                      {
                        "description": "Sends an email via gmail api using the authenticated user's google profile display name, requiring `is html=true` if the body contains html and valid `s3key`, `mimetype`, `name` for any attachment.",
                        "name": "GMAIL_SEND_EMAIL"
                      },
                      {
                        "description": "Sends an email via gmail api using the authenticated user's google profile display name, requiring `is html=true` if the body contains html and valid `s3key`, `mimetype`, `name` for any attachment.",
                        "name": "GMAIL_SEND_EMAIL"
                      }
                    ],
                    "id": "gmail",
                    "logo_url": "https://cdn.jsdelivr.net/gh/ComposioHQ/open-logos@master/gmail.svg",
                    "name": "Gmail"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}": {
      "get": {
        "summary": "Get integration details",
        "description": "Returns detailed information about a specific integration including its capabilities and authentication requirements",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/connect": {
      "post": {
        "summary": "Connect to integration",
        "description": "Establishes a connection to a specific integration. The connection process varies based on the integration's authentication method (API key, OAuth1, OAuth2)",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration to connect to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection successful or OAuth redirect URL provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Connection failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/execute": {
      "post": {
        "summary": "Execute integration feature",
        "description": "Executes a specific feature or function from an integration. Used by agentic models to perform actions through connected integrations",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or feature not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Feature execution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Integration": {
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the integration",
            "type": "string"
          },
          "name": {
            "description": "The name of the integration",
            "type": "string"
          },
          "description": {
            "description": "A description of what the integration does",
            "type": "string"
          },
          "logo_url": {
            "description": "URL to the integration's logo image",
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "description": "URL to the integration's main application or website",
            "type": "string",
            "format": "uri"
          },
          "features": {
            "description": "List of available features or capabilities provided by the integration",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Feature name"
                },
                "description": {
                  "type": "string",
                  "description": "Feature description"
                }
              },
              "required": ["name"]
            }
          },
          "auth_method": {
            "description": "The authentication method used by the integration",
            "type": "string",
            "enum": ["OAUTH2", "API_KEY", "BASIC_AUTH", "NONE"]
          }
        }
      },
      "ConnectRequest": {
        "required": [
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "description": "The unique identifier of the user attempting to connect",
            "type": "string"
          },
          "api_key": {
            "description": "The API key for API key-based authentication (required only for integrations using API key auth)",
            "type": "string"
          },
          "callback_url": {
            "description": "The URL to redirect to after OAuth authentication completes (optional for OAuth flows)",
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ConnectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "description": "Whether the connection was successful (for API key auth)",
            "type": "boolean"
          },
          "message": {
            "description": "Success or error message",
            "type": "string"
          },
          "redirect_url": {
            "description": "The OAuth authorization URL to redirect the user to (for OAuth flows)",
            "type": "string",
            "format": "uri"
          },
          "instructions": {
            "description": "Instructions for the user on how to complete the authentication",
            "type": "string"
          }
        }
      },
      "ExecuteRequest": {
        "required": [
          "user_id",
          "feature_name"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "description": "The unique identifier of the user executing the feature",
            "type": "string"
          },
          "feature_name": {
            "description": "The name of the feature/function to execute",
            "type": "string"
          },
          "inputs": {
            "description": "The input parameters for the feature execution",
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ExecuteResponse": {
        "required": [
          "success",
          "integration_id",
          "feature_name",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "description": "Whether the feature execution was successful",
            "type": "boolean"
          },
          "result": {
            "description": "The result data from the feature execution",
            "type": "object",
            "additionalProperties": true
          },
          "integration_id": {
            "description": "The ID of the integration that executed the feature",
            "type": "string"
          },
          "feature_name": {
            "description": "The name of the feature that was executed",
            "type": "string"
          },
          "user_id": {
            "description": "The ID of the user who executed the feature",
            "type": "string"
          }
        }
      },

      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for chat completion",
            "example": "small-1"
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects that make up the conversation",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"],
                  "description": "The role of the message author"
                },
                "content": {
                  "type": "string",
                  "description": "The content of the message"
                }
              }
            }
          },
          "system": {
            "type": "string",
            "description": "The system prompt that defines the AI's behavior",
            "default": "You are a helpful assistant."
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to return a streaming response",
            "default": false
          }
        }
      },
      "ChatCompletionRequestStreaming": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for chat completion",
            "example": "small-1"
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects that make up the conversation",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"],
                  "description": "The role of the message author"
                },
                "content": {
                  "type": "string",
                  "description": "The content of the message"
                }
              }
            }
          },
          "system": {
            "type": "string",
            "description": "The system prompt that defines the AI's behavior",
            "default": "You are a helpful assistant."
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to return a streaming response",
            "default": true
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "description": "Structured chat completion result",
            "properties": {
              "response": {
                "type": "array",
                "description": "List of assistant messages in the response",
                "items": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "Message content"
                    },
                    "role": {
                      "type": "string",
                      "description": "Message role",
                      "example": "assistant"
                    }
                  },
                  "required": ["content", "role"]
                }
              },
              "thinking": {
                "type": "string",
                "description": "Model's internal reasoning summary for the response"
              }
            },
            "required": ["response"]
          }
        },
        "required": ["result"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for resolving the error"
          }
        },
        "required": ["error"]
      }
    }
  }
}