{
  "openapi": "3.1.0",
  "info": {
    "title": "Integrations API",
    "description": "API for managing and accessing various integrations and their capabilities",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.incredible.one/",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/chat-completion": {
      "post": {
        "summary": "Chat Completion",
        "description": "Generate AI responses with support for function calling and integrations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent events stream for streaming responses"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "summary": "List all integrations",
        "description": "Returns a list of all available integrations with details such as name, description, logo URL, app URL, functions, and authentication method",
        "responses": {
          "200": {
            "description": "Successful response with list of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}": {
      "get": {
        "summary": "Get integration details",
        "description": "Returns detailed information about a specific integration including its capabilities and authentication requirements",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/connect": {
      "post": {
        "summary": "Connect to integration",
        "description": "Establishes a connection to a specific integration. The connection process varies based on the integration's authentication method (API key, OAuth1, OAuth2)",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration to connect to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection successful or OAuth redirect URL provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Connection failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/{integration_id}/execute": {
      "post": {
        "summary": "Execute integration feature",
        "description": "Executes a specific feature or function from an integration. Used by agentic models to perform actions through connected integrations",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or feature not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Feature execution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Integration": {
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the integration",
            "type": "string"
          },
          "description": {
            "description": "A description of what the integration does",
            "type": "string"
          },
          "logo_url": {
            "description": "URL to the integration's logo image",
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "description": "URL to the integration's main application or website",
            "type": "string",
            "format": "uri"
          },
          "functions": {
            "description": "List of available functions or capabilities provided by the integration",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "auth_method": {
            "description": "The authentication method used by the integration",
            "type": "string",
            "enum": ["oauth", "api_key", "basic_auth", "none"]
          }
        }
      },
      "ConnectRequest": {
        "required": [
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "description": "The unique identifier of the user attempting to connect",
            "type": "string"
          },
          "api_key": {
            "description": "The API key for API key-based authentication (required only for integrations using API key auth)",
            "type": "string"
          },
          "callback_url": {
            "description": "The URL to redirect to after OAuth authentication completes (optional for OAuth flows)",
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ConnectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "description": "Whether the connection was successful (for API key auth)",
            "type": "boolean"
          },
          "message": {
            "description": "Success or error message",
            "type": "string"
          },
          "redirect_url": {
            "description": "The OAuth authorization URL to redirect the user to (for OAuth flows)",
            "type": "string",
            "format": "uri"
          },
          "instructions": {
            "description": "Instructions for the user on how to complete the authentication",
            "type": "string"
          }
        }
      },
      "ExecuteRequest": {
        "required": [
          "user_id",
          "feature_name"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "description": "The unique identifier of the user executing the feature",
            "type": "string"
          },
          "feature_name": {
            "description": "The name of the feature/function to execute",
            "type": "string"
          },
          "inputs": {
            "description": "The input parameters for the feature execution",
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ExecuteResponse": {
        "required": [
          "success",
          "integration_id",
          "feature_name",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "description": "Whether the feature execution was successful",
            "type": "boolean"
          },
          "result": {
            "description": "The result data from the feature execution",
            "type": "object",
            "additionalProperties": true
          },
          "integration_id": {
            "description": "The ID of the integration that executed the feature",
            "type": "string"
          },
          "feature_name": {
            "description": "The name of the feature that was executed",
            "type": "string"
          },
          "user_id": {
            "description": "The ID of the user who executed the feature",
            "type": "string"
          }
        }
      },

      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for chat completion",
            "example": "gpt-4"
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects that make up the conversation",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"],
                  "description": "The role of the message author"
                },
                "content": {
                  "type": "string",
                  "description": "The content of the message"
                }
              }
            }
          },
          "system": {
            "type": "string",
            "description": "The system prompt that defines the AI's behavior",
            "default": "You are a helpful assistant."
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to return a streaming response",
            "default": true
          },
          "functions": {
            "type": "array",
            "description": "Array of custom function definitions",
            "items": {
              "type": "object",
              "required": ["name", "description"],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the function"
                },
                "description": {
                  "type": "string",
                  "description": "A description of what the function does"
                },
                "parameters": {
                  "type": "object",
                  "description": "The parameters the function accepts"
                }
              }
            }
          },
          "integrations": {
            "type": "array",
            "description": "Array of integration configurations",
            "items": {
              "type": "object",
              "required": ["id"],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the integration"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of feature names to enable"
                }
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "The generated response text"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          },
          "instructions": {
            "type": "string",
            "description": "Instructions for resolving the error"
          }
        },
        "required": ["error"]
      }
    }
  }
}